{{ if .IsHome }}
  {{ .Scratch.SetInMap "seo" "title" .Site.Title }}
  {{ .Scratch.SetInMap "seo" "description" .Site.Params.description }}
  {{ .Scratch.SetInMap "seo" "type" "website" }}

  {{ $img := "" }}

  {{ with .Site.Params.homepage_meta_tags.meta_og_image }}
    {{ if or (hasPrefix . "http://") (hasPrefix . "https://") }}
      {{ $img = . }}
    {{ else }}
      {{ $img = (. | absURL) }}
    {{ end }}
  {{ end }}

  {{ if eq $img "" }}
    {{ $img = ("/img/logo/ZEROGENLAB_LOGO.png" | absURL) }}
  {{ end }}

  {{ .Scratch.SetInMap "seo" "image" $img }}
{{ end }}
